/* Fonts Fraunces */
/* fraunces-regular - latin */
@font-face {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/fraunces-v10-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/fraunces-v10-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/fraunces-v10-latin-regular.ttf")
      format("truetype"); /* Safari, Android, iOS */
}
/* fraunces-900 - latin */
@font-face {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/fraunces-v10-latin-900.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/fraunces-v10-latin-900.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/fraunces-v10-latin-900.ttf")
      format("truetype"); /* Safari, Android, iOS */
}
/* Font BARLOW  */
/* barlow-regular - latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/barlow-v5-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/barlow-v5-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/barlow-v5-latin-regular.ttf")
      format("truetype"); /* Safari, Android, iOS */
}
/* barlow-500 - latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/barlow-v5-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/barlow-v5-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/barlow-v5-latin-500.ttf")
      format("truetype"); /* Safari, Android, iOS */
}
/* barlow-600 - latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/barlow-v5-latin-600.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/barlow-v5-latin-600.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/barlow-v5-latin-600.ttf")
      format("truetype"); /* Safari, Android, iOS */
}
/* barlow-700 - latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/barlow-v5-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/barlow-v5-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/barlow-v5-latin-700.ttf")
      format("truetype"); /* Safari, Android, iOS */
}
*,
::before,
::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  margin-top: 100px;
  padding: 0;
  font-family: " Fraunces ", sans-serif;
}
a {
  text-decoration: none;
}
img {
  vertical-align: middle;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.container {
  width: 1279px;
  margin: 0 auto;
  padding: 0 20px;
}
/* nav ↓ */
.header-container {
  display: flex;
  align-items: center;
}
.logo-pic {
  text-decoration: none;
}
.logo-pic:hover {
  opacity: 0.5;
}
.logo-pic:active {
  opacity: 1;
}
.nav-list {
  display: flex;
  margin-left: auto;
  align-items: center;
  list-style: none;
}
.nav-link {
  margin: 0;
  font-family: Barlow;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888f;
}
.link-item {
  padding: 20px 30px;
  opacity: 0.5;
  text-decoration: none;
}
.link-item:hover {
  opacity: 1;
}
.link-item:active {
  opacity: 0.5;
}
/*  Part Hero  */
.hero-container {
  padding: 100px 50px;
  background: url("../images/hero_img.jpg");
  background-repeat: no-repeat;
  background-size: 1280px 600px;
}
.hero-left {
  width: 540px;
  margin: 0;
  padding: 0 0 150px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.hero-heading {
  width: 540px;
  margin: 0 0 30px 0;
  font-family: Fraunces 9pt;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fefcf7;
}
.hero-desc {
  width: 445px;
  margin: 0 0 50px 0;
  font-family: Barlow;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
  opacity: 0.8;
}
.button {
  margin: 0;
  padding: 15px 31px;
  font-family: Fraunces 9pt;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #fefcf7;
  background-color: #66d2cf;
  cursor: pointer;
}
/* services ↓ */
.container-services {
  width: 1275px;
  padding-top: 120px;
  padding-bottom: 120px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-image: url("../images/services_bg-img.png");
  background-repeat: no-repeat;
  background-size: 1111px 196px;
  background-position-x: 50%;
}
.services_box {
  width: 255px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.gran::before{
  content: url(../images/kopi1.png);
  margin-bottom: 40px;
}
.planalto::before{
  content: url(../images/kopi2.png);
  margin-bottom: 40px;
}
.piccollo::before{
content: url(../images/kopi3.png);
margin-bottom: 40px;
}
.danche::before{
content: url(../images/kopi4.png);
margin-bottom: 40px;
}
.services-heading {
  width: 255px;
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  font-family: Fraunces 9pt;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #333d4b;
}
.services-desc {
  margin: 0;
  padding: 0;
  font-family: Barlow;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #333d4b;
}
/* Why choose us ? */